<div class="container">
	<div class="container reg-address">
		<p>Our registered address</p>
		<p>Address: 1190 Wien Barawitzkagasse</p>
		<p>Phone: +43688/977-9568</p>
		<p>Email: szabogergely@gmail.com</p>
	</div>
</div>

<%= flash[:notice] %>

<div class="container">

    <%= form_tag("/static_pages/thank_you", class: "well form-horizontal", id: "contact_form") do %>
<fieldset>

<!-- Form Name -->
<legend>Contact Us Today!</legend>

<!-- Text input-->

<div class="form-group">
  <%= label_tag :name, "First Name", class: "col-md-4 control-label" %>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <%= text_field_tag :name, nil, class: "form-control name-box", placeholder: "Enter First Name" %>
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <%= label_tag :name, "Last Name", class: "col-md-4 control-label" %>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Last Name" %>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <%= label_tag :email, "E-mail Address", class: "col-md-4 control-label required-field" %>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <%= text_field_tag :email, nil, class: "form-control email-box", type: "email", placeholder: "Enter Your Email Address", required: "true" %>
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <%= label_tag :phone, "Phone", class: "col-md-4 control-label" %>   
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <%= text_field_tag :phone, nil, class: "form-control", placeholder: "Enter Your Phone Number" %>
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
   <%= label_tag :address, "Address", class: "col-md-4 control-label" %>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <%= text_field_tag :address, nil, class: "form-control", placeholder: "Enter Your Address" %>
    </div>
  </div>
</div>


<!-- Text area -->
  
<div class="form-group">
  <%= label_tag :message, "Message", class: "col-md-4 control-label required-field" %>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<%= text_area_tag :message, nil, style: "resize: none", class: "form-control", id: "message-box", placeholder: "Your message", cols: "30", rows: "5", required: "true" %>
  </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <%= submit_tag "Send", type: "submit", class: "btn btn-warning", id: "submit-button" %>
    <span class="glyphicon glyphicon-send"></span>
  </div>
</div>

</fieldset>
<% end %>
</div>

<script>
  // Makes red border for message-box when empty
  $('#submit-button').on('click', function() {
    var comment;
    comment = $('#message-box').val();
    if (comment === "") {
      $('#message-box.form-control').focus(function() {
        $(this).css({'border-color': 'red', 'box-shadow': 'inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)'})
      });
    } else {
      return;
    }
    // Makes green border for message-box when typing
    $('#message-box').on('keypress', function() {
      $('#message-box.form-control').focus(function() {
        $(this).css({'border-color': 'green', 'box-shadow': 'inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)'})
      });
    });
  });

  

</script>