<div class="container signin-center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <h2>Edit your password <%= resource_name.to_s.humanize %></h2>

  <div class="field form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail Address" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Please give a new Password" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control space-bottom", placeholder: "Please confirm your new password" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password, class: "sr-only" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control space-bottom", placeholder: "Confirm old password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<div class="space-bottom">
Click the button below, if you want to cancel your account: <br> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</div>

<div>
<%= link_to "Back", :back %>
</div>

</div>