<div class="container signin-center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <h2>Sign up</h2>
  <div class="field form-group col-sm-12">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Your E-mail Address" %>
  </div>

  <div class="field form-group col-sm-12">
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Please enter your new password" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>

  <div class="field form-group col-sm-12">
    <%= f.label :password_confirmation, class: "sr-only" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control space-bottom", placeholder: "Please type your new password again" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>