<p id="notice"><%= notice %></p>

<div class="container product-title"><h3>Products</h3></div>

<div class="row">

  <% @products.each do |product| %>
      
    <div class="container col-xs-12 col-md-6 product-unit">
      <%= image_tag product.image_url, :class => "img-responsive product-pic" %>
      <div class="product-describe"><h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p><%= product.color %></p>
      </div>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div> <!-- end container -->
  <% end %>
</div> <!-- end row -->


<br>

<%= link_to 'New Product', new_product_path %>
